In [1]:
import pandas as pd

In [2]:
dataframe = pd.read_csv('../input/houses/houses.csv')
dataframe.head(n=10)

   Square Feet  House Prices Location
0         1732       1604395  Ontario
1         1796       1928762  Ontario
2         2994       3355920  Ontario
3         2183       2617532  Ontario
4         1566       1952100  Ontario
5         1618       1446051  Ontario
6         2807       2595134  Ontario
7         2962       2954302  Ontario
8         2419       2517238  Ontario
9         2021       2120163  Ontario

In [3]:
for x in range(len(dataframe)):
    if dataframe.iloc[x, 2] == 'Ontario':
        dataframe.iloc[x, 2] = 1
    
    else:
        dataframe.iloc[x, 2] = 0
    
    
dataframe.head()

   Square Feet  House Prices Location
0         1732       1604395        1
1         1796       1928762        1
2         2994       3355920        1
3         2183       2617532        1
4         1566       1952100        1